[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
amqp = "*"
celery = "*"
celery-progress = "*"
django-composite-foreignkey = "*"
django-compositekey = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-filter = "*"
django-rest-swagger = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
pillow = "*"
pylint = "*"
python-decouple = "*"
redis = "*"
requests = "*"
simplejson = "*"
Django = "*"
flower = "*"
django-celery-results = "*"
django-celery-beat = "*"

[requires]
python_version = "2.7"
