amqp
celery
celery-progress
Django
django-composite-foreignkey
django-compositekey
django-crispy-forms
django-debug-toolbar
django-filter
django-rest-swagger
django-widget-tweaks
djangorestframework
Pillow
pylint
python-decouple
redis
requests
simplejson
