{% extends 'base.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">Password Reset</li>
{% endblock %}
{% block content %}
    <div class=" justify-content-center">
        <div class="card">
            <div class="col-lg-auto col-md-auto col-sm-auto" style="padding-left: 0 ;padding-right: 0">
                <h3 class="card-title">Password Reset</h3>
                <div class="card-body">
                    <p>Enter your Email Address and we will send you the link to reset password</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button class="btn btn-info" type="submit">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}