{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-4">
            <a href="{% url 'home' %}">Django Boards</a>
        </h1>
        <div class=" justify-content-center">
            <div class="card">
                <div class="col-lg-auto col-md-auto col-sm-auto">
                    <h3 class="card-title">Sign up</h3>
                    <div class="card-body">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button class="btn btn-info" type="submit">Sign UP</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        Already have an account ? <a href="{% url 'sign-in' %}">login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}